.slider-container {
    height: 100%; /* 부모 요소 높이 설정 */
  }
  
  .slick-list {
    height: 100%; /* 슬라이더 리스트 높이 설정 */
  }
  
  .slick-track {
    height: 100%; /* 슬라이더 트랙 높이 설정 */
  }
  
  .slick-slide {
    height: 100%; /* 슬라이드 개별 요소 높이 설정 */
  }
  
  .slick-slide > div {
    height: 100%; /* 슬라이드 콘텐츠를 감싸는 div의 높이 설정 */
  }
  